.pro-icn .row {
    margin-bottom: 0 !important;
    align-items: center !important;
    justify-content: baseline !important;
    position: absolute !important;
    bottom: 0% !important;
}
.icns {
    margin-top: 10px !important ;
}
.icns a {
    background-color: white !important;
    color: black !important;
    transition: all 0.9s !important;
    margin: 10px 10px !important;
}
.icns a:hover {
    color: rgb(255, 191, 0) !important;
    transition: all 0.5s !important;
    background-color: none !important;
}
.btn-style3 {
    background-color: black !important;
    color: #fff;
    font-size: 14px;
    padding: 10px 30px;
    font-weight: 500;
    border-radius: 4px;
    text-transform: uppercase;
}
.section-title h2 {
    font-size: 30px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    font-family: "Fredoka", sans-serif !important;
    margin-bottom: -15px !important ;
}
.section-b-padding {
    padding-bottom: 0px !important;
}
.btn-style10 {
    position: relative;
    color: #fff !important;
    font-size: 16px;
    padding: 10px 30px;
    background-color: #f5ab1e !important;
    font-weight: 600;
    border: 2px solid #f5ab1e !important;
    border-radius: 3px;
    text-decoration: none !important;
    border-color: #f5ab1e !important;
}
.btn-style10:hover {
    background-color: transparent !important;
    color: #f5ab1e !important;
}
.pro-icn a:hover {
    background-color: #f5ab1e !important;
    color: #fff !important;
}
