.sidebar {
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 5px 14px 4px black;
    position: fixed;
}

.admin-sidebar-logo img {
    width: 200px;
}

.admin-sidebar-menu ul {
    list-style-type: none;
    padding: 0;
}

.admin-sidebar-menu li {
    margin-bottom: 10px;
}

.admin-sidebar-menu a {
    text-decoration: none;
    color: #f5ab1e !important;
    font-size: 24px;
}

.col-12.col-md-3 {
    max-width: 250px; /* Set a max width for the sidebar */
}

.col-lg-9 {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}
.admin-sidebar-menu {
    color: #f5ab1e !important;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}
.line {
    padding: 20px 0;
    background-color: #ffffff;

}
.col-lg-9,
.col-md-3 {
    padding: 0 !important;
}
