.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
::selection {
  color: rgb(255, 255, 255) !important;
  background: #ffc813 !important;
}
#idMegnifyer {
  width: 500px;
  object-fit: cover !important;
  border: none !important;
}
.plus-minus {
  cursor: pointer;
}
.plus_dash {
  color: black !important;
}
.loader_1 {
  width: 100px;
  height: 100px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  /* background-color: #282c34 !important; */
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loader {
  margin: 30px;
  position: relative;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.loader_2 {
  background-color: #282c34;
}
svg {
  width: 100%;
  height: 100%;
}

path {
  fill: #b0b6b1;
  transition: 0.3s;
  opacity: 1;
}
:root {
  --main-color: #111;
  --loader-color: #4caf50;
  --back-color: #a5d6a7;
  --time: 3s;
  --size: 5px;
}

.loader {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: -50%;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  z-index: 100000;
}

.loader__element {
  height: var(--size);
  width: 100%;
  background: var(--back-color);
}

.loader__element:before {
  content: "";
  display: block;
  background-color: var(--loader-color);
  height: var(--size);
  width: 0;
  animation: getWidth var(--time) ease-in infinite;
}

@keyframes getWidth {
  100% {
    width: 100%;
  }
}

